.cache/ export-ignore
.venv/ export-ignore
envs/ export-ignore
logs/ export-ignore
.codex export-ignore
.claude/ export-ignore
SCADS_AI_API_KEY.txt export-ignore
DEEPSEEK_API_KEY.txt export-ignore
HF_TOKEN.txt export-ignore
OPEN_AI_API_KEY.txt export-ignore
*.pyc export-ignore
__pycache__/ export-ignore
